<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"/>
  <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/1.0.7/css/responsive.dataTables.min.css"/> -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <!-- <script type="text/javascript" src="https://cdn.datatables.net/responsive/1.0.7/js/dataTables.responsive.min.js"></script> -->
  <script src="static/filters.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
   <body >
     <h1> Material Science</h1>
     <p id="filt">Filters</p>
       <form id="form" action="/add" method="POST" target="_blank">
         <div class="filters" id="filters" name='{{ colNames }}'>
           <p id="ranges">lower <= column name <= upper </p>
           <button class = "addFilter"> Add Filter </button>
           <div class="dropdown" id='colNames'><input type="filterText0" class="add_field" name="filter0" id="e1"><select id="d1"></select><input type="filterText" class="add_field" name="filter" id="f1"><a href="#" id="f1" class="remove_field">Remove</a></div>
         </div>
         <button type="submit" id="submit" class="btn btn-default"> SUBMIT </button>
       </form>
     <div style="overflow-y:auto" id="table" name='{{ tabledata }}' >
       {% for tables in table %}
           {{ tables|safe }}
       {% endfor %}
     <!-- <iframe id="dash-table" src="http://localhost:8050" width=700 height=300></iframe> -->
     </div>

   </body>
   <!-- <script type="text/javascript">
   $(function(){
    var filters = $("#filters");
     var colNames = JSON.parse($("#colNames").attr("name"));
     console.log(colNames);

     for (col in colNames) {
       var option = $("<option />");
       option.html(col);
       option.val(col);
       filters.append(option);
     }
   });
   </script> -->
</html>
